// card history unreleated
.card-history
    display flex
    align-items center
    .card-detail 
        margin-left 20px
        .row-m 
            margin-top 10px
            margin-bottom @margin-top