.scroll-data-preview 
    margin-bottom 3em

.links .contact-list 
    display flex 
    margin-top 2em
    .card-row 
        text-decoration none 
        color inherit
        display flex 
        align-items center
        margin-right 4em
        > * 
            margin 5px