<div class="scroll-data-preview">
  <app-scroll-horizontal-behavior>
    <app-card-language
      image="https://pluspng.com/img-png/logo-javascript-png-file-javascript-logo-png-1052.png"
      title="Javascript"
      detail="Manejo de Javascript, Typescript, librerías..."
    >
    </app-card-language>
    <app-card-language
      image="https://cdn.iconscout.com/icon/free/png-512/react-1-282599.png"
      title="React"
      detail="Manejo en tecnologías con react, typescript..."
    >
    </app-card-language>
    <app-card-language
      image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxuhTBaczPGtwWI8n4DtcaTJllYjmCmqq78g&usqp=CAU"
      title="CSS in JS"
      detail="Manejo de 'CSS in JS' escalable en componentes..."
    >
    </app-card-language>
    <app-card-language
      image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTIVWXqfXCp4a2GzVEJF-1mFitkeyF_NGmrA&usqp=CAU"
      title="Base de datos"
      detail="Manejo de base de datos MongoDb, Firebase, Redis..."
    >
    </app-card-language>
  </app-scroll-horizontal-behavior>
</div>
<div class="home-detail">
  <app-card-point-history
    title-text="Acerca de mí"
    detail-text="Soy Desarrollador de Software, especializado en tecnologías web. Me encanta la programación, investigar y aprender nuevas tecnologías a la par crear proyectos constantemente.
    Me considero autodidacta, persistente, mi lenguaje favorito es Javascript. Así mismo me gusta dibujar, bailar y siempre busco hacer las cosas rápido e ir mejorando."
  ></app-card-point-history>
  <app-card-point-history
    title-text="Mi motivación"
    detail-text="Me gusta crear nuevas cosas, ver como funcionan las cosas, especialmente las interfaces. Esto me motiva a crear nuevas cosas y aprender constantemte adaptandome a todo cambio."
  >
  </app-card-point-history>
  <app-card-point-history
    title-text="Contactarme conmigo"
    detail-text="Las redes sociales que manejo, aquí abajo te dejo las formas de contactarme. :)"
  >
    <div class="links">
      <div class="contact-list">
        <a *ngFor="let item of allLinksContact" [href]="item.link" target="_blank">
          <app-card-detail-master
            [title]="item.name"
            [background]="item.background"
            [icon]="item.icon"
          ></app-card-detail-master>
        </a>
        </div>
  </div>
  </app-card-point-history>
</div>
<div class="to-right">
  <app-button-base title="Siguiente..." (onClickEmiter)="navigateNext()" [dark]="true"></app-button-base>
</div>
