<div class="container-dedicate">
  <div class="container-dedicate__title">
    <app-text-base
      text="Programador fullstack y diseño de interfaces"
      is-weight="{{ true }}"
    ></app-text-base>
  </div>

  <app-text-base
    text="Programador fullstack me dedico al desarrollo y me encanta la programación,
    aplicaciones web, aplicaciones mobiles, de escritorio y diseño."
    theme-color="smooth"
    text-size="small"
  ></app-text-base>
</div>

<div class="container-dedicate">
  <div class="container-dedicate__categories">

  </div>
</div>
