<div class="container-dedicate">
  <div class="container-dedicate__title">
    <app-text-base
      text="Programador fullstack y diseño de interfaces"
      is-weight="{{ true }}"
    ></app-text-base>
  </div>

  <app-text-base
    text="Programador fullstack me dedico al desarrollo y me encanta la programación,
    aplicaciones web, aplicaciones mobiles, de escritorio y diseño."
    theme-color="smooth"
    text-size="small"
  ></app-text-base>
</div>

<div class="container-dedicate">
  <div class="container-dedicate__categories">
    <app-card-detail-master
      title="Sometimes application designer"
      description="Diseñador de interfaces graficas de paginas web y aplicaciones"
      background="#29b6f6"
      icon="design_services"
      link="/"
    ></app-card-detail-master>
    <app-card-detail-master
      title="Software developer of web apps"
      description="Me dedico al desarrollo de aplicaciones web en general"
      background="#ff5252"
      icon="web"
      link="/"
    ></app-card-detail-master>
    <app-card-detail-master
      title="Fullstack develop mobile software"
      description="Programador de aplicaciones con React, Kotlin y web apps"
      background="#ba68c8"
      icon="touch_app"
      link="/"
    ></app-card-detail-master>
  </div>
</div>
