<div class="container-dedicate">
  <div class="container-dedicate__title">
    <app-text-base
      text="Frontend Developer"
      is-weight="{{ true }}"
    ></app-text-base>
  </div>

  <app-text-base
    text="Frontend Developer. Me encanta la programación y el desarrollo de aplicaciones web principalmente. Soy autodidacta, persistente y me gusta estar aprendiendo nuevas tecnología e implementar buenas prácticas en todo proyecto."
    theme-color="smooth"
    text-size="small"
  ></app-text-base>
</div>

<div class="container-dedicate">
  <div class="container-dedicate__categories">
    <app-card-detail-master
      title="Que es desarrollo frontend?"
      description="Es la parte visual de una página web en donde interactuas"
      background="#29b6f6"
      icon="design_services"
      link="https://css-tricks.com/"
    ></app-card-detail-master>
    <app-card-detail-master
      title="Como se manejan los datos en la web"
      description="Se almacenan en bases de datos, y son bastante seguros"
      background="#ff5252"
      icon="web"
      link="https://www.freecodecamp.org/"
    ></app-card-detail-master>
    <app-card-detail-master
      title="Es importante tener un buen diseño"
      description="El diseño de las interfaces son agradables para el usuario"
      background="#ba68c8"
      icon="touch_app"
      link="https://www.youtube.com/channel/UCRgsKhrmxW8V8jIlzHnAzCw"
    ></app-card-detail-master>
  </div>
</div>
