json("../../json/sizes.json");

.container-dedicate
  &__title
    margin-bottom 1em
  &__categories
    margin 2em auto
    display grid
    grid-template-columns repeat(3,1fr)
    gap 20px
    @media screen and (max-width mediaTabletSmall), (min-width mediaTabletBig) and (max-width mediaDesktopMedium)
      grid-template-columns 1fr
