.text-base 
    display: block
.is-weight 
    font-weight bold

themeSize = {
    small: 0.9rem,
    normal: 1rem,
    regular: 1.1rem,
    big: 2rem
};
themeColors = {
    smooth: gray,
    primary: rgb(40, 40, 40),
    light : white
};

for key, value in themeSize 
    .{key}
        font-size: value
        line-height 1.3em

for key, value in themeColors 
    .{key} 
        color: value


