json("../../../json/colors.json")

.profile 
    position absolute
    top 1cm
    left 1.3cm 
    z-index 1
    &-my-name 
        font-size 3em
        text-transform uppercase
        letter-spacing 5px
        .name-invert 
            text-shadow 0 2px 0 black
            color light
    &-career
        margin-top 10px 
        text-align right