json("../../../json/colors.json")

.profile 
    margin 2em 0
    &-my-name 
        font-size 3em
        text-transform uppercase
        letter-spacing 5px
        text-align right
        font-weight normal
        .name-invert 
            color inherit
    &-career
        margin-top 10px 
        text-align right