json("../../../json/colors.json")

color-base = primaryAlternate

.card-point-history 
    position relative
    border-left 1px solid color-base
    animation appear .3s 1 ease-out
    @keyframes appear 
        from 
            transform translateY(100%)
            opacity 0
    > .row
        padding 0 1em
        padding-left 1.5cm
        &.title 
            margin-bottom 10px
        &.detail 
            padding-bottom 40px

    &::before 
        content ""
        width 10px
        height @width
        background color-base 
        border-radius 100%
        position absolute
        transform translateX(-50%)