json("../../../json/colors.json")
json("../../../json/sizes.json")

.card-point-history
    position relative
    > .row
        padding 0 1em
        padding-left .5cm
        &.title
            margin-bottom 10px
        &.detail
            padding-bottom 40px
    @media screen and (max-width : mediaTabletBig)
      > .row
          padding-left 1.5em

    &::before
        content ""
        width 10px
        height @width
        background primaryThird
        border-radius 100%
        position absolute
        transform translateX(-50%)
