<div class="search-container">
  <div class="medium">
    <div class="text-detail-container">
      <app-text-base [text]="totalStackLength" text-size="big"></app-text-base>
      <app-text-base text="tecnologías usadas" theme-color="smooth" text-size="small"></app-text-base>
    </div>
  </div>
  <div class="medium">
    <app-search-engine
     placeholder="Buscar por tecnología o lenguaje..." 
     (onSearchEvent)="searchTechnology($event)" >
    </app-search-engine>
  </div>
</div>
<div class="all-stack">
  <app-card-point-history
    *ngFor="let item of allStacks"
    [title-text]="item.category"
  >
    <div class="grid-cards">
      <app-fluid-card-information
        *ngFor="let stack of item.stacks"
        [image-avatar]="stack.image"
        [title]="stack.name"
        [detail]="stack.detail"
      >
      </app-fluid-card-information>
    </div>
  </app-card-point-history>
</div>
