json("../../json/sizes.json");

is-flex()
  display flex
  align-items center
  justify-content center

margin-right-element()
  margin-right 10px

responsive-search-container()
  flex-direction column-reverse
  > .medium
    width 100%
    &--totals
      is-flex()
      margin-top 10px
      justify-content space-evenly

.search-container
  padding-bottom 4em
  is-flex()
  > .medium
      margin-left auto
      width 50%
      .text-detail-container
        is-flex()
        display inline-flex
        margin-right-element()
        *
          margin-right-element()
  @media screen and (max-width mediaDesktopSmall)
    responsive-search-container()

templates = (1800px 4) (1200px 3) (820px 2) (750px 3) (580px 2)
createResponsiveGrid(props)
  for prop in props
    @media screen and (max-width prop[0])
      grid-template-columns: repeat(prop[1],1fr);

.grid-cards
    display grid
    createResponsiveGrid(templates)
