json("../../../json/colors.json")

.card 
    background light
    border-radius 20px
    display flex
    align-items center
    .row 
        &.image-row 
            margin-right 10px
        
    