json("../../../json/colors.json")

.card 
    background light
    border-radius 20px
    display flex
    align-items center
    box-shadow 0 5px 10px rgba(0,0,0,.02)
    padding 20px
    .row 
        &.image-row 
            margin-right 10px
        
    