json("../../../json/colors.json")

.card 
    background light
    display flex
    align-items center
    padding 20px
    transition background .3s ease-out
    &:hover 
        background rgba(0,0,0,.02)
        cursor pointer
        border-radius 10px
    .row 
        .text 
            margin-bottom 2px
        &.image-row 
            margin-right 10px
        
    