json("../../../json/colors.json")
json("../../../json/sizes.json")

circle-default()
    width 10px
    height @width
    border-radius 100%
    border:1px solid light
    transition .4s ease-in-out

circle-active()
    background light
    border-color light

.circle-current-page
    display flex
    justify-content space-between
    width 70%
    margin 30px auto
    .circle
        circle-default()
        &.active
          circle-active()
    @media screen and (max-width : mediaMobileBig)
     margin 0 auto
