json("../../../json/colors.json")

circle-default()
    width 10px
    height @width
    border-radius 100%
    border:1px solid light

circle-active()
    background light
    border-color light

.circle-current-page 
    display flex
    justify-content space-between
    width 70%
    margin 30px auto
    .circle
        circle-default()
        &:first-child
            circle-active()