radius-card-image() 
    border-radius 10px

.card-image 
    background-size cover
    background-position center
    position relative 
    radius-card-image() 

    .card-body 
        background linear-gradient(45deg,black,rgba(0,0,0,.3))
        padding 10px
        radius-card-image()    
