.card-detail
  display flex
  justify-content space-between
  padding 20px
  border-radius 10px
  background rgb(245,245,245)
  .card-col
      ~/ .card-row
        padding-top 10px
        padding-bottom:  @padding-top
        &__footer-button
          margin-top 2em
      ~/ .card-icon
          background rgba(0,0,0,.2)
          border-radius 100%
          width 50px
          height @width
          display flex
          align-items center
          justify-content center
          margin-left 1em
          .material-icons
            text-align center
            display block
            color white
