.search-container 
    display flex
    justify-content space-between
    align-items center
    background-color rgb(245,245,245)
    border-radius 30px
    padding 15px
    .icon-search 
        background : url("https://image.flaticon.com/icons/png/512/482/482631.png") no-repeat center / 80%
        width 20px
        height @width
        margin-right 10px
    .input-search 
        outline none 
        border-width 0 
        width 100%
        background none
