@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --height-navigation:60px;
    --height-section:100vh;
    --primary-color: #7440e2;
    --secondary-color: rgb(52, 211, 153);
    --third-color:#8af0eb;
    --width-navigator:80px;
}

@layer base {
    body {
        @apply bg-black;
        @apply bg-opacity-95;
        @apply overflow-y-hidden;
    }
}

input,button,textarea {
    outline: none !important;
}
