json("../../../json/colors.json")
json("../../../json/sizes.json")

.project-card
  display flex
  align-items center
  background light
  box-shadow 0 10px 20px rgba(0,0,0,.04)
  overflow hidden
  border-radius 5px
  margin-bottom 2em
  padding 10px
  @media screen and (max-width : mediaMobileBig)
    padding 10px 5px

  &__image
    width 60px
    height @height
    object-fit cover
    border-radius 100%
    border 2px solid primaryThird
    @media screen and (max-width : mediaTabletSmall)
        width 40px
  .body
    padding 0 10px
    &__text
      &--title
        margin-bottom 10px
        .create-at
          display block
          font-size .7em
          margin 10px 0

  .row-card.last
      margin-left auto
      flex none
      .main-language
          margin-left 10px
          font-weight bold
          font-size .8em
          padding 10px 20px
          background primary
          color light
          border-radius 10px
      @media screen and (max-width : mediaTabletSmall)
        display none
