<a [href]="href" target="_blank">
<div class="project-card">
    <div class="row-card">
        <img [src]="image" alt="" class="project-card__image" />
    </div>
    <div class="row-card">
      <div class="body">
        <div class="body__text--title">
            <app-text-base [text]="title" [is-weight]="true" text-size="regular"></app-text-base>
            <span class="create-at">Creación: {{created}}</span>
          </div>
        <div class="body__text--detail">
          <app-text-base [text]="detail" text-size="small" theme-color="smooth"></app-text-base>
        </div>
      </div>
    </div>
    <div class="row-card last">
      <div class="main-language"> {{language}} </div>
    </div>
</div>
</a>
