json("/json/colors.json")


set-flex(direction = row)
    display flex
    flex-direction direction

.app 
    height 100%
    width 100%
    position relative
    display flex
    align-items stretch
    
    &-nav-links 
        width 200px
        flex none
        background primary
        justify-content flex-end 
        padding 20px
        set-flex(column)
    
    &-main
        width 100%
        background light
        padding 10em 6em 0
        overflow-y auto
        &::-webkit-scrollbar
            width 7px
        &::-webkit-scrollbar-thumb
            background rgba(0,0,0,.2)
            border-radius 7px
        &::-webkit-scrollbar-button
            background transparent

.to-right 
    display flex
    justify-content flex-end
    margin-bottom 20px