nav-background = rgb(240,240,240)
main-background = white

set-flex(direction = row)
    display flex
    flex-direction direction

set-default-padding()
    padding 20px

.app 
    height 100%
    width 100%
    position relative
    display flex
    align-items stretch
    
    &-nav-links 
        width 200px
        flex none
        background nav-background
        justify-content flex-end 
        set-flex(column)
        set-default-padding()
    
    &-main
        width 100%
        background main-background
        set-default-padding()
        padding-top 10em
