<div class="app">
  <nav class="app-nav-links">
    <div class="container-image-profile">
      <app-circle-image [image]="profileImage" size-image="120" [is-featured]="true" ></app-circle-image>
    </div>
    <app-list-links-navigator></app-list-links-navigator>
    <app-circle-current-page></app-circle-current-page>
  </nav>
  <section class="app-main">
    <app-profile-name-compact></app-profile-name-compact>
    <app-animatable-fade-from-bottom>
      <router-outlet></router-outlet>
    </app-animatable-fade-from-bottom>
  </section>
</div>
