<div class="app">
  <nav class="app-nav-links">
    <app-circle-image
      image="https://avatars2.githubusercontent.com/u/55319455?s=460&u=fa9cce56a1ccc172db284fabf935d3f8921f3197&v=4"
      size-image="120"
      [is-featured]="true"
    ></app-circle-image>
    <app-list-links-navigator></app-list-links-navigator>
    <app-circle-current-page></app-circle-current-page>
  </nav>
  <section class="app-main">
    <app-profile-name-compact></app-profile-name-compact>
    <app-animatable-fade-from-bottom>
      <router-outlet></router-outlet>
    </app-animatable-fade-from-bottom>
  </section>
</div>
