<div class="card-language">
  <div class="card-body">
    <div class="card-image">
      <app-circle-image [is-featured]="true" [image]="image" size-image="60"></app-circle-image>
    </div>
    <div class="card-detail">
      <div class="text">
        <app-text-base [text]="title" theme-color="light" is-weight="{{ true }}"></app-text-base>
      </div>
      <div class="text">
        <app-text-base [text]="detail" text-size="small"  theme-color="light" ></app-text-base>
      </div>
    </div>
  </div>
</div>
