.card-language 
    margin-right 25px
    transition .3s
    &:hover
        transform scale(.96)
    .card-body-text     
        width 200px
        margin-top 3em
        margin-bottom 10px
        .text:first-child
            margin-bottom 20px