json("../../../json/colors.json")
json("../../../json/sizes.json")

.link-navigator
    text-decoration none
    color smooth
    border-radius 10px
    font-size .8rem
    display block
    padding 10px
    position relative
    transition .3s background
    @media screen and (max-width : mediaMobileBig)
      cursor default


.link-navigator.router-link-active
    background primaryAlternate
    color light
    animation selectable-animate .1s 1 ease-in
    &::before
      content ""
      background white
      width 8px
      height @width
      position absolute
      right 10px
      border-radius 100%
    @keyframes selectable-animate
        from
            transform scale(.5)
    @media (max-width mediaMobileBig)
      &::before
        display none
