.link-navigator 
    text-decoration none
    color rgb(60,60,60)
    border-radius 10px
    font-size .8rem
    display block
    text-align center
    padding 10px
    transition .3s background

.link-navigator.router-link-active 
    background rgba(0,0,0,.15)