json("../../../json/colors.json")

.link-navigator 
    text-decoration none
    color light
    border-radius 10px
    font-size .8rem
    display block
    text-align center
    padding 10px
    transition .3s background

.link-navigator.router-link-active 
    background rgba(0,0,0,.3)
    animation selectable-animate .1s 1 ease-in
    @keyframes selectable-animate 
        from 
            transform scale(.5)