@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 70px;
  --sidebar-height: 100vh;
}

[data-id='main-navigator'] {
  background-image: url('/code.png');
  background-position: 50% 90%;
  background-attachment: fixed;
  background-size: 35%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  [data-id='main-navigator'] {
    background-position: 50% 50%;
    background-size: auto;
  }
}

section {
  backdrop-filter: blur(30px);
}
